p
{
  color:red;
}

#canvas-wrap
{
  position:relative;
}

#shopDisplay  /* slightly crude, forces shop items to be right of canvas */
{
  position:absolute;
  top:0px;
  left:600px;
}

#settings
{
  visibility:hidden;
}

#logoutBox
{
  display:none;
}
